.navbar {
    background-color: #fff;
    /* background-color: transparent; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    height: 100px;
}
.nav-link{color: #000;}
.nav-link:hover {color: rgb(21, 76, 112);}

.logo-brand{
    min-width: 160px;
    max-width: 180px;
    color: #000;
}
.navbar-toggler {
    font-size: 40px;
    
}
.navbar-toggler:focus {outline: none;}

#hero {
    background-image: url('../assets/img/parque1.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #330707;
}